
.keep-c-note-container{
     display:flex;
    flex-wrap:wrap;
    padding:30px;
}
.keep-c-note{
    margin-left:10px;
    margin-top:10px;
}

.checked-card{
    margin: 10px;
}

::ng-deep .mat-checkbox-background {
   border-radius: 50% !important;
}

::ng-deep .mat-checkbox-frame{
   border-radius: 50% !important;
}

.matcheckbox{
    position: relative;
    top: 20px;
    z-index: 1;
    display: none;
} 

.dismatcheckbox{
     position: relative;
    top: 20px;
    z-index: 1;
    display: block;
}

 .matcard{
     transition: all 0.7s cubic-bezier(.25,.8,.25,1);
     border-radius: 20px;
 }

 .matcard:hover  {
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);    
 }
 
 .checked-card:hover .matcheckbox{
     display: block;
 }

.reminder-container{
    display: inline-flex;
    position: relative;
    top: 375px;
}

.reminder{
    margin: 0px 10px;
    width: 450px;
    height: 100px;
    background: #3367d6;
    transition: all 1.218s ease-in-out;
}

.reminder-text{
    display: inline-flex;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-weight: bold;
    margin: 0px 60px;
    
}

.open_note{
    color: white;
    margin-left: 35px;
    margin-top: 13px;
}
.notif-note{
    color: #fffe06!important;
    margin-top: 13px;
}

.remind_note{
    color: #fffe06!important;
    width: 123px;
    margin-top: 13px;
}

.snooze{
    margin-bottom: 6px;
    margin-left: 18px;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
    margin-top: 4px;
}
.close_reminder{
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0iI0ZGRkZGRiI+CiA8cGF0aCBkPSJtMCAwaDE4djE4aC0xOHpoMTh2MThoLTE4eiIgZmlsbD0ibm9uZSIvPgogPHBhdGggZD0ibTE0LjUzIDQuNTNsLTEuMDYtMS4wNi00LjQ3IDQuNDctNC40Ny00LjQ3LTEuMDYgMS4wNiA0LjQ3IDQuNDctNC40NyA0LjQ3IDEuMDYgMS4wNiA0LjQ3LTQuNDcgNC40NyA0LjQ3IDEuMDYtMS4wNi00LjQ3LTQuNDd6Ii8+Cjwvc3ZnPgo=");
    width: 30px;
    height: 30px;
    background-size: cover;

}