
  <form (submit)='loginSubmit()' #frm = "ngForm" class="div-form">
    <mat-card  class="login-div">
         <mat-card-title>Login</mat-card-title>
      <div class="divcls">
          <mat-form-field class="textfield">
            <input type="text" class="username" placeholder="Username" matInput [formControl]='username'required/>
          </mat-form-field>
      </div>
      <div *ngIf="(username.touched || username.dirty) && username.invalid" style="color: red">This is a mandatory field</div>
      <div class="divcls">
          <mat-form-field  class="textfield">
            <input type="password"  class="password" placeholder="Password" matInput [formControl]='password' required />
          </mat-form-field>
      </div>
      <div *ngIf="(password.touched||password.dirty) && password.invalid && password.errors.required" style="color: red" >This is mandatory field</div>
      <div *ngIf="(password.touched||password.dirty) && password.invalid && password.errors.minlength" style="color: red" >{{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters to go..></div>
      <div *ngIf="submitMessage" class="error-message">
        {{submitMessage}}
      </div>
      <div class="card-buttons">
         <div class="divcls">
          <button mat-button type="submit" [disabled]='frm.invalid'>Login</button>
        </div>
        <div class="divcls">
            <button mat-button routerLink="/signup" >Sign up</button>
        </div>   
      </div>
    </mat-card >
  </form>

